$primary: #292929
$secondary: #c4c4c4
$primary-lighter: #F2F2F2
$body-color: #F2F2F2

$break-small: 900px;
$break-large: 1025px;

a 
  color: $primary-lighter
  text-decoration: none

p 
  color: $primary
  font-weight: 250

body
  font-family: 'Roboto', sans-serif
  background-color: $body-color
  min-height: 100vh
  max-height: 100vh
  margin: 0
  overflow-y: hidden

.home-title
  position: fixed
  padding-left: 10vw
  padding-top: 10vh  
  @media screen and (max-device-width: $break-large)
    padding-left: 5vw
    width: 100%
  @media screen and (max-device-width: $break-small)
    padding-top: 2vh 

.home-title-text 
  margin: 0
  font-size: 5.5rem
  letter-spacing: 0.7rem
  font-weight: 100
  width: 500px
  @media screen and (max-device-width: $break-small)
    font-size: 8.5rem

.container
  display: flex
  align-items: center

.home-wrapper
  align-items: center
  display: flex
  height: 90vh
  padding-top: 10vh  
  @media screen and (max-device-width: $break-large) //applies to everything smaller than $break-large(1000px)
    padding-top: 0

.home-items
  display: flex
  flex-direction: column
  flex-wrap: wrap
  min-width: 100vw
  overflow-x: auto
  height: 55%
  padding: 12vw 10vw 0 10vw
  align-items: center
  @media screen and (max-device-width: $break-large) //applies to everything smaller than $break-large(1000px)
    padding: 0 5vw
    height: 75%
    padding-top: 35vh

.horizontal-tile
  display: flex
  min-width: 20vw
  max-width: 20vw
  height: 20%
  padding: 3em
  margin: 2px
  opacity: 0
  background-color: $primary
  align-items: center
  text-align: center
  justify-content: center
  font-weight: 300
  transition-duration: .7s
  &:hover
    background-color: $primary-lighter
  @media screen and (max-device-width: $break-large)
    min-width: 400px
    min-height: 180px
    margin: 0
  @media screen and (max-device-width: $break-small)
    min-height: 200px
    margin: 1rem

.tile-text
  color: $secondary
  transition-duration: 0.7s
  &:hover
    color: $primary

.modal 
  color: $secondary
  background-color: $primary
  p
    color: $secondary


.modal-close-icon
  fill: $secondary

.navbar .navbar-menu
  text-align: right
  background-color: $body-color
  overflow: hidden
  position: fixed
  bottom: 0
  width: 100%
  height: 5vh
  @media screen and (max-device-width: $break-small)
    height: 2vh

.navbar-item
  margin-right: 25px
  color: $primary
  font-weight: lighter
  transition-duration: 1s
  &:hover
    color: $secondary

.is-active
  color: $secondary
  font-weight: 300